h1{
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("./img/pattern.jpeg");
}

h2{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

p{
    font-family: Helvetica;
}

h3{
    font-family: Helvetica;
    font-weight: bold;
}

.brushes{
    background-color: mediumspringgreen;
}

.frames{
    background-color: lightcoral;
}

.paint{
    background-color: skyblue;
}

.selling-price{
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}